{% extends "base.html" %}
{% block title %}Blog Post{% endblock title %}
{% block body %}
{% load humanize %}
{% load extras %}
<main role="main" class="container my-3">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.timestamp}} by <a href="#">{{post.author}}</a> <span><em>({{post.views}} views)</em></span></p>
                <p>{{post.content|safe}}</p>
            </div><!-- /.blog-post -->
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav> <!-- Comments -->
            <hr>
            <div class="">
                <h4>Comments ({{comments.count}})</h4>
                <div class="my-2">
                    {% if user.is_authenticated %}
                    <form action="/blog/postComment" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment">Post Comment</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="parentSno" value="">
                        <input type="hidden" name="postSno" value="{{post.sno}}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <!-- comment hidden -->
                    <form>
                        <div class="form-group">
                            <div class="my-2">
                                Please <a type="button" title="Login" data-toggle="modal" data-target="#loginModal" class="text-primary">Login</a> or <a type="button" title="Sign up" data-toggle="modal" data-target="#signupModal" class="text-primary">Sign up</a> to comment.
                            </div>
                            <textarea class="form-control" rows="3" placeholder="Please Login or Sign up to comment" readonly></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled>Submit</button>
                    </form>
                    <!-- /.comment hidden -->
                    {% endif %}
                </div>
                {% for comment in comments %}
                <div class="row mx-0 my-3 py-2 border border-light rounded bg-light">
                    <div class="col-md-1">
                        <img src='/static/images/user.png' loading='lazy' alt='User image'>
                    </div>
                    <div class="col-md-11">
                        <b>{{comment.user.username}}</b> <small class="badge badge-secondary text-white p-1  ">{{comment.timestamp | naturaltime}}</small>
                        <div>
                            {{comment.comment}}
                        </div>
                        <!-- Reply to comments -->
                        <div class="reply mx-0 mb-2">
                            {% if user.is_authenticated %}
                            <p class="mt-2 mb-0">
                                <a data-toggle="collapse" href="#replyBox{{comment.sno}}" role="button" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                                    Reply
                                </a>
                            </p>
                            <div class="collapse" id="replyBox{{comment.sno}}">
                                <div class="card card-body py-3">
                                    <form action="/blog/postComment" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="comment">Post a reply</label>
                                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                            <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                        </div>
                                        <input type="hidden" name="postSno" value="{{post.sno}}">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                            {% else %}
                            <p class="mt-2 mb-0">
                                <a type="button" title="Login" data-toggle="modal" data-target="#loginModal" class="text-primary">Login to reply</a>
                            </p>
                            {% endif %}
                            <div class="row replies p-2 my-2">
                                {% for reply in replyDict|get_val:comment.sno %}
                                <div class="col-md-1">
                                    <img src='/static/images/user.png' loading='lazy' alt='User image'>
                                </div>
                                <div class="col-md-11">
                                      <span class="ml-2"><b>{{reply.user.username}}</b> <small class="badge badge-secondary text-white p-1  ">{{reply.timestamp | naturaltime}}</small></span>
                                    <p class="border-bottom rounded p-2">{{reply.comment}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.Reply to comments -->
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.Comments -->
        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
            </div>
            <div class="p-4">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</main>
{% endblock body %}